@keyframes rebote {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #dbc5f3, #c7a3e9, #a060e6);
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  background-color: #a169de;
  border-radius: 0 0 25px 25px;
  box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  gap: 55px;
}

.navLinks a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  transition: padding 0.3s ease;
}

.navLinks a:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 25px;
}

#navIcon {
  height: 40px;
}

.navButton {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border: 0 solid transparent;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #dbc5f3;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  color: black;
  padding: 15px;
  gap: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 150px;
}
.bienvenida h1 {
  font-size: 50px;
  width: 50%;
}
.bienvenida h3 {
  font-size: 20px;
  color: #5a5a5a;
}

.bienvenidaLogo {
  width: 338px;
}

.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background-color: red;
  background-image: url("../images/FotosRelleno/CabifyParking.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}
.fondo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 15px;
}

#bienvenidaButton {
  width: 20%;
  height: 25%;
  transition: transform 0.3s ease;
}
#bienvenidaButton:hover {
  background-color: #9154d9;
  color: white;
  animation: rebote 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
